/*.........................
 font style 
 ..........................*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

 body{
    font-family: 'Poppins', sans-serif;
 }

 header h2{
     padding-left: 120px;
 }

 .influencers{
     display: flex;
     padding-left: 120px;
 }
 .main-camera{
    width: 440px;
    height: 414px;
    padding-left: 60px;
    padding-bottom: 60px;
}
.influencer{
 margin-top: 50px;
}
.influencer p{
    width: 505px;
    height: 60.9px;
    margin-bottom: 2em;
}

.influencer a{
    text-decoration: none;
    background-color:  #E02C6D;
    color: white;
    border-radius: 41px;
    padding: 10px;
    
    /* Padding :
    10px, 24px, 10px, 24px; */
}

.section-title{
    text-align: center;
    margin-bottom: 50px;
    
}

.contrainer{
        background-color: #FFFFFF;
        padding: 30px;
        width: 870px;
        margin-top: 21px;
        border-radius: 5px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 24px;
    grid-column-gap: 24px;
    /* background-color:  #aaaaaa9c; */
    width: 950px;
    /* border-radius: 50px; */

}
.collection{
    background-color: white;
    box-shadow: 2px 5px 10px grey;
    border-radius: 5px;
   
    
}
.detail{
    /* padding-left: 20px; */
    /* padding-right: 1vh; */
    padding: 2vh 2vh;
}
.collection .banner img{
    height: 256px;
    width: 300px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: yellow;
}
.fa-star.empty{
    color: #AEAEAE;
}
#see-more{
    text-decoration: none;
    color:  #E02C6D;
    padding-left: 900px;

}
.remon{
    color: black;
}
.remon-details{
    color: black;
}
.remon-icon{
    text-decoration: none;
    background-color:  #E02C6D;
    color: white;
    border-radius: 41px;
    padding: 10px;

}
.book-section .remon-list img{
 
        height: 320px;
        width: 80vh;
        padding-right: 20vh;
     
}
.book-section{
    display: flex;
    margin-top: 120px;
    
}
.remon-padding{
    width:60vh;
    padding-right: 3vh;
    padding-left: 0;
}
.book-part{
    display: flex;
    padding-left: 5vh;
    margin-top: 5vh;
}
.book-list-img{
    padding-right: 2vh;
}
.paragraph-part{
    margin-left: 4vh;
    width: 100vh;
}
.paragraph-part a {
    text-decoration: none;
    background-color:  #E02C6D;
    color: white;
    border-radius: 41px;
    padding: 10px;
}
.see-more-part{
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
    width: 950px;
   
}
.see-more-part a {
    text-decoration: none;
    color:  #E02C6D;
}

.footer-section{
    background-color: black;
    color: white;
    text-align: center;
}